.ng-utc_datepicker {
    position: absolute;
    top: auto;
    left: auto;
    z-index: 1000;
}
.ng-utc_datepicker .ng-utc_calendar-icon {
    cursor: pointer;
}
.ng-utc_datepicker .ng-utc_calendar-popup {
    width: 245px;
    opacity: 0.9;
    border-left: 1px solid #888;
}
.ng-utc_datepicker .ng-utc_calendar-popup.ng-utc_above {
    margin-top: -293px;
}
.ng-utc_datepicker .ng-utc_calendar-popup.ng-utc_below {
    margin-top: 5px;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar-controls {
    box-sizing: border-box;
    background: #ccc;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #000;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    display: flex;
    justify-content: space-between;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar-controls .ng-utc_prev,
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar-controls .ng-utc_next,
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar-controls .ng-utc_today {
    cursor: pointer;
    padding: 0 7px;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_day-names {
    background: #555;
    color: #fff;
    display: flex;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_day-names .ng-utc_name {
    width: 35px;
    height: 15px;
    padding: 1px;
    text-align: center;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar {
    background: #fff;
    width: 245px;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar .ng-utc_day {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
    padding: 2px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    color: #000;
    background: #fff;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar .ng-utc_day:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar .ng-utc_day:last-child {
    border-right: 1px solid #888;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar .ng-utc_selected {
    background: #42a5f5;
    color: #fff;
}
.ng-utc_datepicker .ng-utc_calendar-popup .ng-utc_calendar .ng-utc_disabled {
    background: #ddd;
    color: #555;
}
.ng-utc_clear {
    clear: both;
}
